main {
  width: 1200px;
  height: 100vh;
  margin: auto;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.columnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}